:root {
    --main-color: #dd950f;
}
.option-box .gear-check {
    color: var(--main-color);
}
.option-box .color-option ul li i {
    color: var(--main-color);
}
.hello .container h1 span {
    color: var(--main-color);
}
.our-team .container .row .card .quote {
    color: var(--main-color);
}
.our-features .container .row .feat span {
    background-color: var(--main-color);
}
.testimonails .container .item h3 {
    color: var(--main-color);
}
.testimonails .carousel .carousel-indicators li.active {
    border-color: var(--main-color);
}
.price-table .container .row .price-box p {
    background-color: var(--main-color);
}
.comp-info .container .row .stats .num {
    color: var(--main-color);
}
.clients .container h2 {
    color: var(--main-color);
}
footer .copyright span {
    color: var(--main-color);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: var(--main-color);
}
.navbar-brand span {
    color: var(--main-color);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: var(--main-color);
}
.hvr-sweep-to-right:before {
    background: var(--main-color);
}
.clients .container .row ul li:hover {
    background-color: var(--main-color);
    color: whitesmoke;
}
footer .row h3 {
    color: var(--main-color);
}
footer .row .icons li i:hover {
    color: var(--main-color);
}
footer .row ul li a:hover {
    color: var(--main-color);
}
footer .row .media .media-left i {
    color: var(--main-color);
}
.arrow-up {
    background-color: var(--main-color);
}
.about-intro .container h1 {
    color: var(--main-color);
}
.priorities .container .row h3 {
    color: var(--main-color);
}
.faq-intro .container h1 {
    color: var(--main-color);
}
